.upBtn {
  position: fixed;
  z-index: 90;
  bottom: 20px;
  left: 50%;

  display: flex;
  align-items: center;

  width: 80px;

  cursor: pointer;
  transform: translate(-50%, 0);

  border: none;
  background: transparent;

  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.upBtn img {
  width: 100%;
  height: auto;
}

.upBtn:hover {
  opacity: 0.8;
}

.upBtn:active {
  opacity: 0.5;
}
