.container {
  padding: 0 20px;

  background: #d5d0be;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 100px 0;
}

.description {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 750px;
  margin: 0 auto 100px;
  padding: 100px 50px;

  border: 4px solid #e7435f;
  border-radius: 8px;
}

.descriptionTitle {
  position: absolute;
  top: 0;
  left: 50%;

  margin: 0;
  padding: 0 40px;

  transform: translate(-50%, -50%);
  letter-spacing: 0.02em;

  color: #eb2b4f;
  background: #d5d0be;

  font-size: 20.9px;
  font-weight: 700;
  font-style: italic;
  line-height: 1.2;
}

.howToBuy,
.delivery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.howToBuy {
  margin: 0 0 40px 0;
}

.descriptionIconWrapper {
  display: flex;
  align-items: center;

  height: 50px;
}

.descriptionIcon {
  width: 100%;
  min-width: 40px;
  height: auto;

  object-fit: contain;
}

.textWrapper {
  display: flex;
  align-items: center;
}

.descriptionHyphen {
  margin: 0 15px;
}

.descriptionText {
  text-align: left;

  color: #000000;

  font-size: 16.7px;
  font-weight: 400;
  line-height: 1.2;
}

.descriptionText a {
  color: #000000;
}

.productsList {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  padding: 0;

  list-style-type: none;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 auto 100px;
  }

  .description {
    padding: 50px 20px;
  }

  .descriptionTitle {
    font-size: 20px;
    padding: 0 5px;
    width: 80%;
  }

  .howToBuy,
  .delivery {
    flex-direction: column;
  }

  .descriptionHyphen {
    display: none;
  }

  .descriptionText {
    text-align: center;
  }
}
