.container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  flex: 1 1 20%;
  padding: 0 20px 100px;
  min-width: 250px;
}

.imageWrapper {
  position: relative;
  padding:  40px 20px;
  background: #BDB8AA;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 0 100% 0;
  margin: 0 0 40px 0;
}

.container:hover .imageWrapper {
  background: #EDE9E3;
}


.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  transform: translate(-50%, -50%);
}

.productNumber {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  top: 5%;
  left: 5%;
  color: #FEFEFE;
}

.container:hover .productNumber {
  color: #333030;
}


.productDesc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 10px;
}

.productName {
  max-width: 70%;
  text-align: left;
  margin: 0 5px 0 0;
}

.productPrice {
  background: #FFB202;
  padding: 5px 10px;
  border-radius: 20px;
  white-space: nowrap;
}
