.container {
  max-width: 1280px;
  margin: 0 auto 200px;
}

.videosList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.wrapper {
  flex: 1 1 30%;

  min-width: 300px;
  padding: 20px;
}

.videoWrapper {
  position: relative;

  padding: 0 0 56.25% 0;
}

.videoItem {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 auto 100px;
  }
}
