.container {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px 100px;

  background: #e2ded2;
}

.mainInfoWrapper {
  display: flex;

  margin: 0 0 140px 0;
}

.firstBlockWrapper {
  display: flex;
  flex: 1 1 260px;
  flex-direction: column;

  max-width: 260px;
  margin: 0 40px 0 0;

  text-align: left;
}

.photo {
  height: auto;
  margin: 0 0 20px 0;
}

.title {
  margin: 0 0 5px 0;

  color: #000000;
  color: #000000;

  font-size: 20.9px;
  font-weight: 700;
  line-height: 25px;
}

.title span {
  text-transform: uppercase;
}

.titleSmall {
  margin: 0;

  letter-spacing: 0.02em;

  font-size: 16.7px;
  font-weight: 300;
}

.secondBlockWrapper {
  flex: 2 1 65%;

  text-align: left;
}

.secondBlockParagraph {
  letter-spacing: 0.02em;

  color: #000000;
  color: #000000;

  font-size: 16.7px;
  font-weight: 300;
  line-height: 20px;
}

.descWrapper {
  display: flex;
  align-items: center;

  max-width: 950px;
  margin: 0 auto;

  text-align: left;
}

.descImage {
  margin: 0 15px 0 0;
}

.desc {
  margin: 0;

  color: #000000;

  font-size: 16.7px;
  font-weight: 400;
  line-height: 1.2;
}

.youtubeLink {
  text-decoration: underline;

  color: #000000;

  font-style: italic;
}

@media screen and (max-width: 700px) {
  .mainInfoWrapper {
    flex-wrap: wrap;
  }

  .firstBlockWrapper {
    align-items: center;
    flex-direction: row;
    justify-content: center;

    max-width: unset;
    margin: 0;
  }

  .photo {
    margin: 0 20px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 auto 100px;
  }

  .mainInfoWrapper {
    margin: 0 0 100px 0;
  }

  .firstBlockWrapper {
    flex-direction: column;
  }

  .photo {
    margin: 0 0 20px 0;
  }

  .nameWrapper {
    margin: 0 0 20px 0;
  }

  .descWrapper {
    flex-direction: column;
  }

  .descImage {
    margin: 0 0 20px 0;
  }

  .desc {
    text-align: center;

    font-size: 16.7px;
  }
}
