.header {
  position: sticky;
  top: 0;
  max-width: 1280px;
  margin: 0 auto 50px;
  background-color: #E2DED2;
  box-shadow: 0px 15px 10px 0px #E2DED2;
  z-index: 100;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 10px 20px;
  list-style-type: none;
}

.navLink {
  text-decoration: none;
  display: block;
  padding: 22px;
  font-weight: 100;
  color: black;
  cursor: pointer;
  border-radius: 40px;
  border: 2px solid transparent;
  transition: border .3s ease-in-out;
}

.navLink:hover {
  background: #EDEAE3;
}

.navLink.active {
  border: 2px solid #FFB100;
}

