.header {
  position: sticky;
  z-index: 100;
  top: 0;

  transition: top .5s ease-in-out;

  background-color: #e2ded2;
  box-shadow: 0px 15px 10px 10px #e2ded2;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 1280px;
  margin: 0 auto;
  padding: 10px 20px;

  list-style-type: none;
}

.wrapper {
  display: flex;
  justify-content: space-around;

  width: 50%;
}

.navLink {
  display: block;

  padding: 22px;

  cursor: pointer;
  transition: border 0.3s ease-in-out;
  text-decoration: none;
  letter-spacing: 0.04em;

  color: #000000;
  border: 2px solid transparent;
  border-radius: 40px;

  font-size: 16.7px;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
}

.navLink:hover {
  background: #edeae3;
}

.navLink.active {
  border: 2px solid #ffb100;
}

@media screen and (max-width: 550px) {
  .navLink {
    padding: 10px;
  }
}

@media screen and (max-width: 450px) {
  .navList {
    align-items: center;
    flex-direction: column;
  }

  .wrapper {
    justify-content: space-evenly;

    width: 100%;
    margin: 0 0 10px 0;
  }
  .wrapper:nth-child(2n) {
    justify-content: space-around;

    margin: 0;
  }
}
