.container {
  display: flex;
  flex-direction: column;

  padding: 100px 20px;

  background: #d5d0be;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1200px;
  margin: 0 auto;
}

.imgWrapper {
  width: 50%;
  margin: 0 20px 0 0;
}

.img {
  width: 100%;
  height: auto;
}

.contactsList {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contactsItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactsItem:not(:last-child) {
  margin: 0 0 70px 0;
}

.iconWrapper {
  width: 40px;
  margin: 0 40px 0 0;
}

.contactsIcon {
  width: 100%;
  height: auto;
}

.contactsWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contactsLink {
  margin: 0;

  text-decoration: none;

  color: #000000;
  color: #000000;

  font-size: 16.7px;
  font-weight: 400;
  font-style: italic;
  line-height: 29px;
}

.contactsLink.bold {
  font-weight: 700;
}

.contactsLink:not(:last-child) {
  margin: 0 0 15px 0;
}

.contactsLink span {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .imgWrapper {
    display: none;
  }

  .contactsList {
    align-items: center;
  }

  .contactsItem {
    flex-direction: column;
  }

  .contactsItem:not(:last-child) {
    margin: 0 0 40px 0;
  }

  .iconWrapper {
    margin: 0 0 20px 0;
  }

  .contactsLink {
    font-size: 16.7px;
  }
}
