.container {
  display: flex;
  flex-direction: column;

  max-width: 1200px;
  margin: 0 auto 200px;
  padding: 0 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.contactsList {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.contactsItem {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 0 100px 0;
}

.iconWrapper {
  margin: 0 40px 0 0;
}

.contactsIcon {
  height: auto;
}

.contactsWrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contactsLink {
  text-decoration: none;

  color: #000000;

  font-size: 25px;
  font-weight: 400;
  font-style: italic;
  line-height: 20px;
}

.contactsLink:not(:last-child) {
  margin: 0 0 15px 0;
}

.contactsLink span {
  text-decoration: underline;
}

.contactsAddress {
  margin: 0;

  color: #000000;

  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
}

@media screen and (max-width: 500px) {
  .container {
    margin: 0 auto 100px;
  }

  .contactsItem {
    flex-direction: column;

    margin: 0 0 60px 0;
  }

  .iconWrapper {
    margin: 0 0 20px 0;
  }

  .contactsLink {
    font-size: 16.7px;
  }
}
